.wrapper {
    max-width: 90%;
    margin: auto;
    background-color: #343a40;
    display: grid;
}

nav {
    background-color: black;
    height: 50px;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: white;
    margin-right: 5px;
}

h1,
p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

img {
    max-width: 300px;
}

ul {
    border: blue 5px solid;
    display:flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

.movieCard {
    border: red solid 5px;
    max-width: 380px;
    margin: auto;
}
