.wrapper {
    max-width: 90%;
    margin: auto;
    background-color: #343a40;
    display: grid;
}

nav {
    background-color: black;
    height: 50px;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: rgb(39, 169, 221);
    margin-right: 15px;
    padding: 15px;
    font-size: 25px;
}

h1,
p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

img {
    max-width: 300px;
    height: 450px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

.movieCard {
    background-color: rgba(97, 106, 233, 0.329);
    width: 300px;
    margin: 15px;
    height: 750px;
}

.movieCard h1 {
    padding: 5%;
    text-align: center;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.movieCard p {
    padding: 5%;
    margin: auto;
}

.pageSelection {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 0;
    height: 10px;
}

select {
    margin: 25px;
    position: absolute;
}

button {
    height: 25px;
    margin-top: 10px;
}
