<select (change)="refresh()" [(ngModel)]="genre">
    <option *ngFor="let genre of _genreArray" ngValue={{genre.id}}>{{genre.name}}</option>
</select>
<div class="pageSelection">
    <button class="arrow left" (click)="handlePageClick('subtract')">-</button>
    <p>{{pageData.page}}/{{pageData.totalPages}}</p>
    <button class="arrow left" (click)="handlePageClick('add')">+</button>
</div>
<ul>
    <li *ngFor="let movie of _movieArray">
        <div class="movieCard">
            <child [parentMovie]="movie"></child>
            <h1>{{movie.title}}</h1>
            <p>{{trimOverview(movie.overview)}}</p>
        </div>
    </li>
</ul>